<html>

<head>
    <title>Login to Site</title>
    <!-- Include CSS File Here -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <!-- Include JS File Here -->
    <!-- <script src="login.js"></script> -->
</head>

<body>
    <div class="container">
        <div class="main">
            <h2>Login to Page</h2>
            <form id="form_id" method="post" name="signin" action="/signin">
                <label>Email Address :</label>
                <input type="text" name="email" id="username" />
                <label>Password :</label>
                <input type="password" name="password" id="password" />
                <input type="submit" value="Login" id="submit" />
            </form>
            <p><a href="createUser.html">Create New Account</a></p>
            <p><a href="createUser.html">Forgot Password</a></p>
        </div>
    </div>
</body>

</html>